{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
  <head><title>Fridge Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    </style>
  </head>

<body>

  <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">×</a>
    <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">My Food</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About Us</a>
    <a href ="#add" onclick="w3_close()" class="w3-bar-item w3-button">Add New Items</a>
  </nav>

  <div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
      <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
      <div class="w3-right w3-padding-16">About Us</div>
      <div class="w3-center w3-padding-16">Fridge Manager</div>
    </div>
  </div>

  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">

      <div class="w3-quarter">
        {% block content %}

        <h3>Add item</h3>

        {% if success %}
          <p class="success">
            Added
          </p>

        {% else %}

        <form action="" method="post">
          <table>
            <label for="name">Item</label><br>
            {{ form.name }}
              <br>
            <label for="number">Amount</label><br>
            {{ form.number }}
            {{ form.unit }}<br>
            <label for="date_purchased">Date purchased</label><br>
            <div>
              {{ form.date_purchased }}
              <!-- {{ form.date_purchased.auto_id }} -->
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <label for="date_expiry">Expiration date</label><br>
            <div>
              {{ form.date_expiry }}<br>
              <!-- {{ form.date_expiry.auto_id }} -->
            </div>
            <label for="freshness">Freshness status</label><br>
            {{form.status}}<br>
            <label for="use_before">I plan to use it by</label><br>
            {{form.use_before}}<br>
            <!-- {{ form.use_before.auto_id }} -->
            <input type="submit" value="Submit">
          </table>
          {% csrf_token %}
        </form>
        {% endif %}
        {% endblock content %}
      </div>


      {% for item in items %}
        <div class="w3-quarter">
          {% if item.name == 'Apple' %}
          <img src='{% static "/apple.jpg" %}' alt='{% static "/apple.jpg" %}' width='200px' />
          {% endif %}
          <h2>{{item.name}}</h2>
          <p>{{item.number}} {{item.unit}}</p>
          <p>Status: {{item.status}}</p>
          <p>Use before: {{item.use_before}}</p>
        </div>
      {% endfor %}
    </div>
    
    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        
      </div>
      <div class="w3-quarter">
     
      </div>
      <div class="w3-quarter">
      
      </div>
      <div class="w3-quarter">
     
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-bottom">
        <h3>@</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>
    
    </footer>
  
  <!-- End page content -->
  </div>
</div>
 <div id="react"></div>
<script>

  // window.props = {{ props|safe }};
  
  window.react_mount = document.getElementById('react');

  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }
  
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }

  $(function () {
    $("#id_date_purchased").datepicker({
      format:'yyyy-mm-dd',
    });
  });

  $(function () {
    $("#id_date_expiry").datepicker({
      format:'yyyy-mm-dd',
    });
  });

  $(function () {
    $("#id_use_before").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>

  {% render_bundle 'main' %}

 </body>
</html>